<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--npm install socket.io-client-->

  <head>
    <title><%= title %></title>
    <script type="module" src="/scripts/bundle.js" defer></script>
        <link rel="stylesheet" type="text/css" href="/game.css" />
    <%- include('header') %>
  </head>

  <body>
    <!-- Navbar (sit on top) -->

    <div class="parent-container">
      <!-- Chat area -->
      <div class="chat-area">
        <div class="chat-box" id="chat-container">
            <p id="chat">Chat</p>
            <div class="message-container" id="messages"></div>
            <label class="message-box">
              <input
                id="chat__message"
                name="chat-message"
                placeholder="Type a message..."
              />
            </label>
        </div>
      </div>
      
      <!-- UI area -->
      <div class="ui-area">
        <!-- UI area content goes here -->
        <div class="ui-container">
          <button style="--clr:#39FF14" class="b1" id="draw-card" value=<%= roomname %>><span>Draw</span><i></i></button>
          <button style="--clr:#FF44CC" class="b2" id="discard-button" value=<%= roomname %>><span>Discard</span><i></i></button>
          <button style="--clr:#0FF0FC" class="b3" id="meld-button" value=<%= roomname %>><span>Meld</span><i></i></button>
          <button style="--clr:#8A2BE2" class="b4" id="knock-button" value=<%= roomname %>><span>Knock</span><i></i></button>
        </div>
      </div>
      <!-- UI area -->
      <div class="spacing-area">
        <div class="spacing-container"></div>
      </div>

      
      <!-- Game container -->
      <div class="game-container">

          <div class="card-area">
            <!-- Card area content goes here -->
            
            <div class="pile" id="card<%= discard_top %>" value=<%= roomname %>></div>
            <% if (can_pass) { %> 
            <button style="--clr:#666666" class="b5" id="pass-button" value=<%= roomname %>><span>Pass</span><i></i></button>
            <% } %>
            <div class="player-turn-indicator" value=<%= current_player %>><%= current_player %>'s turn</div>

            


            <!-- First player's card hand content goes here -->
            <% let i = 0 %>
            <% hand.forEach(function(c) { %>
              <div class="p1-item" id="card<%= c %>"></div>
            <% }); %>
      
            <!-- Second player's card hand content goes here -->
            <% opponent_hand.forEach(function(c) { %>
                <div class="p2-item" id="card<%= c %>"></div>
              <% }); %>
            
            <!-- First player's melds go here -->
            <% melds.forEach(function(m) { %> 
                <% m.forEach(function(c) { %>
                    <div class="p1-meld-item" id="card<%= c %>"></div>
                <% }); %>
                <div class="blank1"></div>

            <% }); %>

            <!-- Second player's melds go here -->
            <% opponent_melds.forEach(function(m) { %> 
                <% m.forEach(function(c) { %>
                    <div class="p2-meld-item" id="card<%= c %>"></div>
                <% }); %>
                <div class="blank2"></div>

            <% }); %>


          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
