<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--npm install socket.io-client-->

  <head>
    <title><%= title %></title>
    <script type="module" src="/scripts/bundle.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/lobby.css" />
    <link rel="stylesheet" type="text/css" href="/chat.css" />
    <%- include('header') %>
  </head>

  <body>
    <div class="parent">
      <div class="chat-area">
        <div class="chat-box" id="chat-container">
            <p id="chat">Chat</p>
            <div class="message-container" id="messages"></div>
            <label class="message-box">
              <input
                id="chat__message"
                name="chat-message"
                placeholder="Type a message..."
              />
            </label>
        </div>
      </div>
    <div class="bigRectangle">
      <div class="lobbyRectangle">
        <img src="../images/cardfall.png" alt="cardfall">
        <div class="LobbyTitle"><h1>Lobby #<%= roomname %></h1></div>
        <div class="LobbyInfo"><h1> Hosted By: <%= host %></h1>
        <div>
          <div><h2>Player/s Currently In the Lobby</h2></div>
          <div id="players">
            <% players.forEach(function(p) { %>
            <div class="player_names"><h1 class="player_name_header">- <%= p %></h1><div>
            <% }); %>
          </div>
        </div>
      </div>
        <% if(ishost === true){ %>
        <div>
          <button class="push" id="start-game-button" value="<%= roomname %>">
            Start Game
          </button>
        </div>

        <% } else{ %> Waiting for host to start the game <% } %>
      </div>
      </div>
    </div>
  </div>

</div>
  </body>
</html>
