<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--npm install socket.io-client-->

  <head>
    <title><%= title %></title>
    <script type="module" src="/scripts/bundle.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/home.css" />
  </head>
  <header>
    <title><%= title %></title>
    <script type="module" src="/scripts/bundle.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/home.css" />
    <div class="header-bar">
      <h2><a class="logo" href="/"><b>GIN RUMMY</b></a></h2>
      <% if (loggedIn) { %>
          <div class="header-items"><a href="/logout" class="button">Logout</a></div>
          <div class="header-items"><a href="/rules" class="button">Rules</a></div>
          
        <%} else {%>
          <div class="header-items"><a href="/register" class="button">Register</a></div>
          <div class="header-items"><a href="/login" class="button">Login</a></div>
          <div class="header-items"><a href="/rules" class="button">Rules</a></div>
          <% } %>   
      <!-- <div class="home">
        <p><b>Welcome, <%= username %>, to Gin Rummy!</b></p>
        <div class="links">
          <a href="/login" class="button">Login</a>
          <a href="/register" class="button">Register</a>
          <a href="/rules" class="button">Rules</a>
        </div>
      </div> -->
    </div>
  </header>
  <body>
<div class="gameblock">
  <div class="gamebuttons">
    <a href="/creategame" class="button">NEW GAME</a>
    <a href="/joingame" class="button">JOIN GAME</a>
    </div>
  </div>
  <div id="chat-container">
      <p id="chat">Chat</p>
      <div id="messages">
      </div>

      <label>
        <input
          id="chat__message"
          name="chat-message"
          placeholder="Type a message..."
        />
      </label>
  </div>
<div class="bigRectangle">
  <div class="lobbyRectangle">
    <h1>Lobby</h1>
   <h4>Room: <%= roomname %></h4>
        <p>Host: <%= host %></p>
        <div>
          <div>Players</div>
          <div id="players">
            <% players.forEach(function(p) { %>
            <li><%= p %></li>
            <% }); %>
          </div>
        </div>
        <% if(ishost === true){ %>
        <div>
            <button id="start-game-button">Start Game</button>
        </div>

        <% } else{ %> Waiting for host to start the game <% } %>
</div>
</div>

  </body>
</html>
